@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url(assets/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
